html {
    overflow: hidden;
}

body {
    background-color: #2f2f2b;
    font-family: 'Montserrat', sans-serif, Arial;
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
    color: #121212;
    letter-spacing: -1px;
}

body a {
    text-decoration: none;
    color: #121212;
}

body a,
body input,
body button {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

body a:hover {
    color: #aaa6a0;
}

.queryloader__overlay__bar {
    top: 0 !important;
}

.doc-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: white;
}

.scroll-top {
    bottom: 0;
    right: 30px;
    display: none;
    line-height: 0;
    z-index: 2;
    width: 65px;
    height: 85px;
    overflow: hidden;
}

.scroll-top img {
    width: 100%;
}

.scroll-top img:hover {
    cursor: pointer;
    margin-top: -85px;
}

.nicescroll-rails-vr:hover {
    cursor: pointer !important;
}

blockquote {
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif, Arial;
    font-size: 24px;
    line-height: 47px;
    color: #b5b5b5;
    position: relative;
    z-index: 2;
}

blockquote p {
    position: relative;
    z-index: 2;
}

blockquote.inline-blockquote {
    width: 385px;
    float: left;
    margin-right: 100px;
}

blockquote:before {
    content: '\201C';
    font-size: 370px;
    line-height: 0;
    font-family: 'Montserrat', sans-serif, Arial;
    color: #F5E083;
    position: absolute;
    top: 95px;
    left: -70px;
    z-index: 1;
}

#header-main-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #3a3a37;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 10;
    overflow: auto;
    opacity: 0.95;
}

.main-menu.sm-clean {
    background-color: transparent;
    margin-top: 220px;
}

.main-menu.sm-clean a {
    color: #ffffff;
    font-size: 45px;
    line-height: 65px;
}

.main-menu.sm-clean .sub-menu a {
    font-size: 22px;
    line-height: 30px;
    border-left: 0;
}

.main-menu.sm-clean a:hover {
    color: #f5de87;
}

.sm-clean li a.current {
    color: #f5de87;
}

.header-image img {
    width: 90%;
    height: auto;
}

.content-1170 {
    max-width: 1170px;
    position: relative;
}

.content-970 {
    max-width: 970px;
    position: relative;
}

.content-1170 img,
.content-970 img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.toggle-holder {
    margin-left: 30px;
    margin-top: 25px;
}

#toggle {
    width: 29px;
    height: 30px;
    z-index: 11;
}

#toggle:hover {
    cursor: pointer;
}

#toggle.on {
    position: fixed;
}

#toggle div {
    width: 100%;
    height: 5px;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
    background-color: #555750;
}

#toggle.on div {
    background-color: #FFFFFF;
}

#toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
    -ms-transform: rotate(45deg) translate(5px, 5px);
    -webkit-transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
    transform: rotate(-45deg) translate(7px, -9px);
    -ms-transform: rotate(-45deg) translate(7px, -9px);
    -webkit-transform: rotate(-45deg) translate(7px, -9px);
}

.header-holder {
    padding-top: 115px;
    height: 85px;
}

.header-holder .header-logo {
    font-size: 0;
    line-height: 0;
    position: relative;
    margin-left: 100px;
}

.header-holder .header-logo img {
    position: absolute;
    z-index: 3;
    max-width: none;
    max-height: none;
}

.blog-item-holder .one_fourth_title,
.blog-item-holder .one_fourth_thumb {
    width: 293px;
}

.blog-item-holder .one_third_title,
.blog-item-holder .one_third_thumb {
    width: 400px;
}

.blog-item-holder .one_half_title,
.blog-item-holder .one_half_thumb {
    width: 585px;
}

.blog-item-holder .two_third_title,
.blog-item-holder .two_third_thumb {
    width: 770px;
}

.blog-item-holder .three_fourth_title,
.blog-item-holder .three_fourth_thumb {
    width: 877px;
}

.blog-item-holder .only-post-title-holder {
    background-color: #3A3A37;
    padding: 100px 100px 80px 100px;
}

.blog-item-holder .only-post-title-holder a,
.blog-item-holder .one_title a {
    color: #FAF8F3;
}

.blog-item-holder .one_title a:hover {
    color: #aaa6a0;
}

.blog-item-holder .only-post-title-holder a:hover {
    color: #aaa6a0;
}

body.blog .more-posts {
    color: #faf8f3;
    background-color: #3a3a37;
    padding: 25px 10px;
    display: block;
    font-size: 22px;
}

body.blog .more-posts:hover {
    background-color: #464642;
}

body.blog .more-posts {
    cursor: pointer;
}

.blog-item-holder .thumb-html {
    min-height: 200px;
}

.image-slider-wrapper {
    position: relative;
}

.carousel_pagination {
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: none;
}

.carousel_pagination a {
    background-color: #fff;
}

.carousel_pagination a:hover {
    background-color: #f5de87;
}

.carousel_pagination a.selected {
    background-color: #f5de87;
}

.page-desc {
    width: 970px;
    float: right;
    font-size: 24px;
    line-height: 40px;
}


/* BLOG */

.blog-item-holder {
    background-color: #ffffff;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

.blog-item-holder .post-thumb {
    font-size: 0;
    line-height: 0;
}

.blog-item-holder .post-thumb img {
    width: 100%;
    height: auto;
}

.blog-top-content {
    margin-bottom: 170px;
}

.blog-item-holder .post-title-holder {
    background-color: white;
}

.blog-item-holder .post-title-holder.one_title {
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
}

.blog-item-holder .entry-title {
    padding: 0 100px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

.blog-item-holder .one_title .entry-title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
}

.blog-item-holder .cat-links {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.blog-item-holder .cat-links ul li {
    display: inline-block;
    margin-right: 10px;
}

.cat-links li:after {
    content: ",";
}

.cat-links li:last-child:after {
    content: "";
}

.blog-item-holder .one_title .cat-links a {
    font-size: 13px;
}

.blog-item-holder .one_title .cat-links,
.blog-item-holder .only-post-title-holder .cat-links {
    padding-top: 75px;
    padding-bottom: 0;
}

.blog-item-holder .one_title .cat-links li:after,
.blog-item-holder .only-post-title-holder .cat-links li:after {
    color: #FAF8F3;
}

.blog-holder .cat-links a {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-left: 5px;
}

.blog-holder .entry-title {
    max-width: 870px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}


/* END BLOG */


/* SINGLE POST */

.single .header-image {
    line-height: 0;
    text-align: center;
}

.content-wrapper {
    position: relative;
    background-color: #fff;
}

.header-image+article .content-wrapper {
    margin-top: -200px;
}

.single-post .resume-entry-content {
    font-size: 22px;
    line-height: 40px;
    font-family: 'PT Serif', serif;
    letter-spacing: 0;
}

.single-post article {
    background-color: #fff;
    position: relative;
    padding-bottom: 1px;
}

.single-post article.no-header-img h1.entry-title {
    padding-top: 150px;
}

.single-post h1.entry-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 47px;
    letter-spacing: -2px;
    margin-bottom: 50px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    padding: 100px 100px 0 100px;
}

.single-post .post-info {
    padding: 0 100px;
    font-size: 12px;
    color: #7b7976;
    text-transform: uppercase;
}

.single-post .post-info a {
    color: #7b7976;
}

.single-post .post-info a:hover {
    color: #aaa6a0;
}

.single-post .post-info div {
    display: inline-block;
}

.single-post .post-info .cat-links ul,
.single-post .post-info .cat-links ul li {
    display: inline-block;
}

.single-post .post-info .cat-links li:after {
    content: ",";
    margin-right: 5px;
}

.single-post .post-info .cat-links li:last-child:after {
    content: "";
}

.single-post .post-info div:after {
    content: "•";
    display: inline-block;
    margin: 0 10px;
    letter-spacing: 2px;
}

.single-post .post-info div:last-child:after {
    content: "";
}

.single-post .entry-content {
    font-size: 22px;
    line-height: 40px;
    font-family: 'PT Serif', serif;
    letter-spacing: 0;
    padding-top: 70px;
}

.single-post .entry-content img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 18px;
    line-height: 30px;
    margin-right: 15px;
    margin-top: 20px;
}

.wp-caption .image-caption-text {
    background-color: #f5e083;
    padding: 10px;
    margin-left: 15px;
}


/* END SINGLE POST */


/* GENERAL PAGE */

.resume-entry-content {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.entry-content {
    padding: 100px;
}

.page .header-image {
    position: relative;
    text-align: center;
    line-height: 0;
}

.page .header-image h1.entry-title {
    position: absolute;
    left: 50%;
    top: 35%;
    font-size: 72px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 10px;
}


/* END GENERAL PAGE */


/* ABOUT */

.team-holder .member {
    position: relative;
    margin-right: 0;
    margin-bottom: 0;
}

.team-holder .member img {
    display: block;
    width: 100%;
    height: auto;
}

.team-holder .member.one_half {
    width: 50%;
}

.team-holder .member.one_third {
    width: calc(100% / 3);
}

.team-holder .member.one_fourth {
    width: calc(100% / 4);
}

.team-holder .member-info {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #51504c;
    color: #cdc8c1;
}

.team-holder .member-name {
    margin-top: 25%;
    margin-bottom: 25px;
    font-weight: 700;
}

.team-holder .member-social-holder {
    font-size: 16px;
    line-height: 20px;
    padding: 0 40px;
}

.team-holder .social {
    display: inline-block;
    font-size: 25px;
    margin: 0 5px;
}

.team-holder .social a {
    color: #cdc8c1;
}

.team-holder .social a:hover {
    color: #dfdad4;
}

.single-post-shortcode {
    background-color: #3A3A37;
    padding: 100px 100px 80px 100px;
    ;
}

.single-post-shortcode .post-text {
    padding: 0 100px;
    font-size: 24px;
    line-height: 30px;
    color: #FAF8F3;
    font-weight: 400;
}

.single-post-shortcode .post-text a {
    font-size: 24px;
    line-height: 30px;
    color: #FAF8F3;
    font-weight: 400;
}

.single-post-shortcode .post-text a:hover {
    color: #aaa6a0;
}

.single-post-shortcode .cat-links {
    padding-top: 75px;
    padding-left: 100px;
    padding-right: 100px;
}

.single-post-shortcode .cat-links li {
    display: inline-block;
    margin-right: 10px;
}

.single-post-shortcode .cat-links li a {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-left: 5px;
    color: #FAF8F3;
}

.single-post-shortcode .cat-links li a:hover {
    color: #aaa6a0;
}

.single-post-shortcode .cat-links li:after {
    color: #FAF8F3;
}

ul.archive-list li {
    border-top: 1px solid #9a96a0;
    padding: 15px 20px;
}

ul.archive-list li:first-child {
    border: none;
}

ul.archive-list li span {
    font-weight: 700;
}


/* END ABOUT */


/* CONTACT */

.contact-form {
    max-width: 100%;
    margin: 0 auto;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
    border: 2px solid #cdc8c1;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 11px 0;
    height: 28px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif, Arial;
    width: 100%;
    color: #cdc8c1;
    text-indent: 40px;
}

.contact-form textarea {
    height: 107px;
}

.contact-form input[type=submit] {
    display: inline-block;
    border: none;
    text-align: center;
    padding: 19px 0px;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    background-color: #cdc8c1;
    font-family: 'Montserrat', sans-serif, Arial;
    font-weight: 700;
    width: 100%;
    font-size: 18px;
    color: white;
}

.contact-form input[type=submit]:hover {
    background-color: #dfdad4;
}

.contact-form input[type=text]::-webkit-input-placeholder,
.contact-form input[type=email]::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif, Arial;
    color: #cec8bf;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    opacity: 1;
}

.contact-form input[type=text]::-moz-placeholder,
.contact-form input[type=email]::-moz-placeholder,
.contact-form textarea::-moz-placeholder {
    font-family: 'Montserrat', sans-serif, Arial;
    color: #cec8bf;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    opacity: 1;
}

.contact-form input[type=text]:-ms-input-placeholder,
.contact-form input[type=email]:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif, Arial;
    color: #cec8bf;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    opacity: 1;
}

.contact-form input[type=text]:-moz-placeholder,
.contact-form input[type=email]:-moz-placeholder,
.contact-form textarea:-moz-placeholder {
    font-family: 'Montserrat', sans-serif, Arial;
    color: #cec8bf;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    opacity: 1;
}


/* END CONTACT */


/* FOOTER */

.footer {
    margin-top: 170px;
    padding-bottom: 70px;
    clear: both;
    color: #50504c;
}

.footer a {
    color: #50504c;
}

.footer .fa-heart {
    color: #e76f7d;
    padding: 0 2px;
    -webkit-animation: pulse 1s linear infinite;
    -moz-animation: pulse 1s linear infinite;
    -ms-animation: pulse 1s linear infinite;
    animation: pulse 1s infinite;
}

/* @keyframes "pulse" {
    0% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(0.8, 0.8);
    }
    80% {
        transform: scale(0.9, 0.9);
    }
    100% {
        transform: scale(1.1);
    }
}

@-moz-keyframes pulse {
    0% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(0.8, 0.8);
    }
    80% {
        transform: scale(0.9, 0.9);
    }
    100% {
        transform: scale(1.1);
    }
}

@-webkit-keyframes "pulse" {
    0% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(0.8, 0.8);
    }
    80% {
        transform: scale(0.9, 0.9);
    }
    100% {
        transform: scale(1.1);
    }
}

@-ms-keyframes "pulse" {
    0% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(0.8, 0.8);
    }
    80% {
        transform: scale(0.9, 0.9);
    }
    100% {
        transform: scale(1.1);
    }
} */

.footer ul li {
    display: inline-block;
}

li.left-footer-content,
li.right-footer-contnet {
    width: 40%;
}

li.left-footer-content {
    font-size: 16px;
}

li.right-footer-contnet {
    text-align: right;
}

li.right-footer-contnet a {
    margin-left: 20px;
    font-size: 16px;
    display: inline-block;
}

li.right-footer-contnet a:first-child {
    margin-left: 0;
}

li.center-footer-content {
    width: 19%;
    text-align: center;
    vertical-align: middle;
}

li.left-footer-content.mobile {
    display: none;
}


/* END FOOTER */


/* RESPONSIVE PART */

@media screen and (max-width: 1400px) {
    .header-holder {
        padding-top: 85px;
    }
    .header-image img {
        width: 95%;
    }
    .main-menu.sm-clean {
        margin-top: 170px;
    }
    .header-image+article .content-wrapper {
        margin-top: -130px;
    }
    .one_half,
    .one_third,
    .two_third,
    .three_fourth,
    .one_fourth {
        margin-right: 8%;
        float: left;
        position: relative;
        margin-bottom: 37px;
    }
    .one_half {
        width: 46%;
    }
    .one_third {
        width: 28%;
    }
    .two_third {
        width: 64%;
    }
    .one_fourth {
        width: 19%;
    }
    .three_fourth {
        width: 73%;
    }
    .entry-content,
    .resume-entry-content {
        padding: 50px;
    }
}

@media screen and (max-width: 1364px) {
    .header-image img {
        width: 100%;
    }
    .zigzag {
        display: none;
    }
}

@media screen and (max-width: 1255px) {
    .content-1170 {
        max-width: 90%;
    }
    .blog-item-holder .one_half_title,
    .blog-item-holder .one_half_thumb,
    .blog-item-holder .one_third_title,
    .blog-item-holder .one_third_thumb,
    .blog-item-holder .two_third_title,
    .blog-item-holder .two_third_thumb {
        width: 50%;
    }
    .blog-item-holder .only-post-title-holder .entry-title,
    .single-post-shortcode .post-text {
        padding: 0;
    }
    .blog-item-holder .only-post-title-holder .cat-links,
    .single-post-shortcode .cat-links {
        padding-left: 0;
    }
    .header-image+article .content-wrapper {
        margin-top: -10%;
    }
    blockquote {
        margin-left: 0;
        margin-top: 20px;
    }
    blockquote.inline-blockquote {
        width: auto;
        float: none;
        margin-left: 0;
        margin-top: 65px;
        margin-right: 0;
    }
    .team-holder .member.one_third {
        width: 33%;
        margin-bottom: 30px;
        float: left;
    }
    .team-holder .member.one_half,
    .team-holder .member.one_fourth {
        width: 50%;
        margin-bottom: 30px;
        float: left;
    }
    .team-holder .member-info {
        display: block !important;
        opacity: 1 !important;
        position: relative;
        min-height: 220px;
    }
    .team-holder .member-name {
        margin-top: 0;
        padding-top: 25px;
    }
}

@media screen and (max-width: 1066px) {
    .footer ul li {
        display: block;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .footer ul li.center-footer-content {
        margin-bottom: 45px;
    }
    .footer ul li.left-footer-content {
        display: none;
    }
    .footer ul li.left-footer-content.mobile {
        display: block;
    }
}

@media screen and (max-width: 1020px) {
    .one_half,
    .one_third,
    .one_fourth,
    .two_third,
    .three_fourth {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 1000px) {
    .page .header-image h1.entry-title {
        font-size: 50px;
    }
}

@media screen and (max-width: 975px) {
    .blog-item-holder .one_half_title,
    .blog-item-holder .one_half_thumb,
    .blog-item-holder .one_third_title,
    .blog-item-holder .one_third_thumb,
    .blog-item-holder .two_third_title,
    .blog-item-holder .two_third_thumb {
        width: 100%;
    }
    .blog-item-holder .only-post-title-holder {
        padding: 10% 0;
    }
    .carousel_pagination {
        margin-left: 10%;
    }
    .blog-holder article {
        margin-bottom: 25px;
    }
    .blog-holder article:last-child {
        margin-bottom: 0;
    }
    .blog-item-holder .only-post-title-holder .entry-title,
    .single-post-shortcode .post-text {
        padding: 0 10%;
    }
    .blog-item-holder .only-post-title-holder .cat-links {
        padding-left: 10%;
    }
    .blog-item-holder .entry-title,
    .blog-item-holder .cat-links {
        padding-left: 10%;
        padding-right: 10%;
    }
    .post-title-holder.one_title.absolute {
        position: relative;
        padding-bottom: 20px;
    }
    .post-title-holder.one_title.absolute .entry-title a {
        color: #121212;
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
    }
    .post-title-holder.one_title.absolute .cat-links a {
        color: #121212;
        font-size: 11px;
    }
    .blog-item-holder .one_title .cat-links li:after {
        color: #121212;
    }
    .post-thumb+.post-title-holder .entry-title {
        margin-top: 50px !important;
    }
    .team-holder .member.one_third {
        width: 50%;
    }
    .single-post-shortcode .post-text {
        padding: 0;
    }
    .blog-item-holder .cat-links {
        padding-top: 25px !important;
    }
    .header-image+article .content-wrapper {
        margin-top: 0;
    }
    blockquote:before {
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        margin-top: 70px;
        display: block;
        font-size: 200px;
    }
    blockquote,
    blockquote.inline-blockquote {
        margin-top: 110px;
    }
}

@media screen and (max-width: 755px) {
    .header-holder .header-logo {
        margin-left: auto;
    }
    .header-logo {
        float: none;
        text-align: center;
    }
    .header-menu {
        float: none;
    }
    .header-holder .header-logo img {
        position: relative;
    }
    .header-holder {
        padding-top: 40px;
        height: auto;
        margin-bottom: 25px;
    }
    .toggle-holder {
        margin: 0;
    }
    #toggle {
        display: none;
    }
    #header-main-menu {
        position: static;
        padding-top: 50px;
        padding-bottom: 20px;
        margin-top: -20px;
        display: block !important;
        background-color: #3A3A37;
    }
    .main-menu.sm-clean {
        margin-top: 0;
    }
    .main-menu.sm-clean a {
        font-size: 22px;
        line-height: 24px;
    }
    .main-menu.sm-clean .sub-menu a {
        font-size: 17px;
        line-height: 24px;
    }
    .entry-content,
    .resume-entry-content {
        padding: 10%;
    }
    .page .header-image h1.entry-title {
        font-size: 30px;
        letter-spacing: 5px;
        padding: 0;
    }
    .team-holder .member.one_third,
    .team-holder .member.one_half,
    .team-holder .member.one_fourth {
        width: 100%;
    }
    .team-holder .member-info {
        min-height: 0;
        padding-bottom: 25px;
    }
    .single-post-shortcode {
        padding: 10%;
    }
    .single-post-shortcode .cat-links {
        padding-left: 0;
        padding-right: 0;
        padding-top: 25px;
    }
    .single-post h1.entry-title,
    .single-post .post-info,
    .single-post .entry-content,
    .single-post .resume-entry-content {
        padding-left: 5%;
        padding-right: 5%;
    }
    .single-post h1.entry-title {
        margin-bottom: 20px;
        padding-top: 40px;
        font-size: 30px;
        line-height: 40px;
    }
    .single-post .post-info {
        line-height: 25px;
    }
    .single-post .entry-content {
        padding-bottom: 0;
        padding-top: 50px;
    }
    .single-post .resume-entry-content {
        padding-top: 0;
    }
    .scroll-top {
        right: 2%;
        width: 44px;
        height: 57px;
    }
    .scroll-top img:hover {
        margin-top: -57px;
    }
    .wp-caption p.wp-caption-text {
        margin-right: 0;
        padding: 0 5%;
        font-size: 14px;
    }
    .carousel_pagination {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .team-holder .member-social-holder {
        padding: 0 10px;
    }
}