<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <title>Katt - Tasty Blog Html Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Template by Colorlib" />
    <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
    <meta name="author" content="Colorlib" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="images/favicon.png" /> {% assets "home_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" /> {% endassets %}

    <!-- <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css"  href='css/clear.css' />
        <link rel="stylesheet" type="text/css"  href='css/common.css' />
        <link rel="stylesheet" type="text/css"  href='css/font-awesome.min.css' />
        <link rel="stylesheet" type="text/css"  href='css/carouFredSel.css' />
        <link rel="stylesheet" type="text/css"  href='css/sm-clean.css' />
        <link rel="stylesheet" type="text/css"  href='style.css' /> -->

    <!--[if lt IE 9]>
                <script src="js/html5.js"></script>
        <![endif]-->

</head>

<body class="contact page page-template-default">
    <div class="doc-loader"></div>

    <div class="content-1170 header-holder center-relative">
        <div class="header-logo left">
            <a href="{{ url_for('home.index') }}">
                <img src="{{ url_for('static', filename='images/katt_default_logo.png')}}" alt="Katt">
            </a>
        </div>

        <div class="header-menu">
            <div class="toggle-holder relative">
                <div id="toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
            </div>

            <nav id="header-main-menu" class="big-menu">
                <ul class="main-menu sm sm-clean">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="about2.html">About 2</a>
                    </li>
                    <li>
                        <a href="about3.html">About 3</a>
                    </li>
                    <li>
                        <a href="contact.html" class="current">Contact</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="contact2.html">Contact + Map</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>


    <div id="content" class="site-content">

        <div class="header-image">
            <h1 class="entry-title">Contact</h1>
            <img src="{{ url_for('static', filename='demo-images/katt_contact_image01.jpg')}}" alt="">
        </div>
        <article class="content-1170 center-relative">
            <div class="content-wrapper">
                <div class="entry-content">
                    <!-- <div class="one_half ">
                        <p>
                            <strong>Stay in touch</strong>
                        </p>
                        <p>We choose to go to the moon in this decade and do the other things, not because they are easy.</p>
                        <br>
                        <p>Because they are hard, because that goal will serve to organize and measure the best of our energies
                            and skills, because that challenge is one that we are willing to accept, one we are unwilling
                            to postpone and one.</p>
                        <br>
                        <p>
                            <span style="color: #cdc8c1;">Address:</span>&nbsp;New York, NY, United States
                            <br>
                            <span style="color: #cdc8c1;">Phone:</span> +1 234-567-890
                            <br>
                            <span style="color: #cdc8c1;">Hours:</span> 6:00 am – 2:00 am
                            <br>
                        </p>
                    </div> -->
                    {% block login %}{% endblock %}
                    
                    <!-- <div class="contact_form">
                        <div class="contact-form">
                            <p>
                                <input id="name" type="text" name="your-name" placeholder="Name">
                            </p>
                            <p>
                                <input id="contact-email" type="email" name="your-email" placeholder="Email">
                            </p>
                            <p>
                                <input id="subject" type="text" name="your-subject" placeholder="Subject">
                            </p>
                            <p>
                                <textarea id="message" name="your-message" placeholder="Message"></textarea>
                            </p>
                            <p>
                                <input type="submit" onClick="SendMail()" value="SEND">
                            </p>
                        </div>
                    </div> -->
                    <div class="clear"></div>
                </div>
            </div>
        </article>

    </div>

    <!--Footer-->

    <footer class="footer">
        <div class="content-1170 center-relative">
            <ul>
                <li class="left-footer-content">
                    © 2018 All rights reserved. | Katt HTML Template
                    <i class="fa fa-heart"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>.
                </li>
                <li class="center-footer-content">
                    <a href="index.html">
                        <img src="{{ url_for('static', filename='images/katt_default_footer_logo.png')}}" alt="Katt">
                    </a>
                </li>
                <li class="right-footer-contnet">
                    <a href="#">Twitter</a>
                    <a href="#">Linkedin</a>
                    <a href="#">Dribbble</a>
                    <a href="#">Instagram</a>
                </li>
                <li class="left-footer-content mobile">
                    © 2018 All rights reserved. | Katt HTML Template
                    <i class="fa fa-heart"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>.
                </li>
            </ul>
        </div>
    </footer>



    <div class="fixed scroll-top">
        <img src="{{ url_for('static', filename='images/back_to_top.png')}}" alt="Go Top">
    </div>
    {% assets "home_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script> 
    {% endassets %}

    <!-- <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.smartmenus.min.js"></script>
    <script type="text/javascript" src="js/queryloader2.min.js"></script>
    <script type="text/javascript" src="js/jquery.carouFredSel-6.0.0-packed.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script> -->
</body>

</html>