{% extends "contact.html" %} 

{% block login %}
<div class="contact_form">
    <form action="" method="post">
        <div class="contact-form">
            {{ form.hidden_tag() }}
            <p>
                <input id="name" type="text" name="your-name" placeholder="Name">
            </p>
            <p>
                <input id="contact-email" type="email" name="your-email" placeholder="Email">
            </p>
            <p>
                <input id="subject" type="text" name="your-subject" placeholder="Subject">
            </p>
            <p>
                <textarea id="message" name="your-message" placeholder="Message"></textarea>
            </p>
            <p>
                <input type="submit" onClick="SendMail()" value="SEND">
            </p>
        </div>
    </form>
</div>
{% endblock %}